

body {
    font-size: 16px;
    background-color: azure;
    text-align: center;
}


/* タイトル部分を中央寄せ */
.inputpass {
    margin: auto;
    margin-top: 30px;
    color: #78716c;
}

/* ボタン部分を中央寄せ */
#button-line {
    margin: auto;
    margin-top: 10px;
}

/* 結果表示枠を中心寄せ */
#result-line {
    margin: auto;
    margin-top: 10px;
}

.create {
    margin-right: 10px;
}

footer {
    margin: auto;
    margin-top: 60px;
}